@model ChangePassword
		

<form method="post">
	<div>
		<h3>Смена пароля</h3>
	</div>

	<div class="text-danger font-weigh-bold" asp-validation-summary="All"></div>

	<input type="hidden" name="userName" value="@Model.UserName" />

	
	<div class=" row">
		<div class="col-6">
			<label asp-for="Password"></label> <br />
			<input class="col-form-label-sm" asp-for="Password"  />
			<span asp-validation-for="Password"></span>
		</div>
	</div>

	<div class=" row">
		<div class="col-6">
			<label asp-for="ConfirmPassword"></label> <br />
			<input  class="col-form-label-sm" asp-for="ConfirmPassword" />
			<span asp-validation-for="ConfirmPassword"></span>
		</div>
	</div>

	<br />
	<div>
		<button type="submit" asp-area="Admin" asp-controller="User" asp-action="ChangePassword">Сменить</button>
	</div>
</form>
