@model EditeRightViewModel


<form method="post">
	<div>
		<h3>Текущие роли для пользователя @Model.UserName</h3>
	</div>
	<input type="hidden" name="name" value="@Model.UserName">
	<br />
	@foreach(var role in Model.AllRoles)
	{
		<div>
			@if(Model.Roles.Contains(role))
			{
				<input class="form-check-input" name="userRolesViewModel[@role.Name]" type="checkbox" value="true" checked/>
			    <label class="form-check-label" for="flexCheckDefault">@role.Name</label>
		}
		else
		{
				<input class="form-check-input" name="userRolesViewModel[@role.Name]" type="checkbox" value="true" />
			<label class="form-check-label" for="flexCheckDefault">@role.Name</label>
		
		}
	</div>
	}
	<div>
		<button type="submit" asp-area="Admin" asp-controller="User" asp-action="EditRight">Сменить</button>
	</div>
</form>