@model Login

@{
	ViewData["Title"] = "Авторизация";
}

<form method="post">
	<div>
		<h5 class="text-muted" .text-muted>Вход</h5>
	</div>
	<br />

	<div class="validation" class="text-danger" asp-validation-summary="ModelOnly"> </div>
	<input type="hidden" name="returnUrl" value="@Model.ReturnUrl"/>

<div class=" row">
	<div class="col"> 
		
			<label asp-for="UserName">Введите Логин</label> <br />
			<input class="col-form-label-sm" asp-for="UserName" />
			<span asp-validation-for="UserName"></span>
	</div>
</div>

<div class=" row">
	<div class="col">
			
			<label asp-for="Password">Введите Парол</label>	<br />
			<input class="col-form-label-sm" type="password" asp-for="Password" placeholder="Введите парол" />
			<span asp-validation-for="Password"></span>
	</div>
</div>

<div class=" row">
	<div class="col">
			<input type="checkbox" name="RememberMe" value="true"> Запомнить меня  <br />
			<a class="col-form-label-sm"  asp-controller="Account" asp-action="Register" asp-route-ReturnUrl="@Model.ReturnUrl">Регистрация нового пользователя</a>
	</div>
		
</div>  
       <br />
<div>
	<button type="submit" asp-controller="Account" asp-action="Login">Войти</button>
</div>
</form>

@section Scripts{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
